{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
{% endblock %}

{% block content %}
<div class="user__container">
    <a href="{{ url_for('all_user') }}" class="main__page--button">All User</a>
    <div class="top__side">
        <div class="avatar">
            <img src="{{ url_for('static', filename=user['avatar']) }}" alt="avatar" />
        </div>
        <div class="top__about">
            <h3 class="job">{{ user["job"] }}</h3>
            <div class="user__info">
                <p class="name">{{ user["name"] }}</p>
                <p class="email">{{ user["email"] }}</p>
            </div>
        </div>
    </div>
    <div class="about__side">
        <h3>About</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, quisquam doloremque. Blanditiis hic placeat ex
            temporibus! Eaque animi soluta officiis nisi ab facilis, ducimus,
            similique, aspernatur qui voluptatibus adipisci iure?
            Blanditiis hic placeat ex
            temporibus!
        </p>
    </div>
    <div class="skill__side">
        <h3>Skills</h3>
        {% for skill in user["skills"] %}
        <div class="skill">
            <p class="skill__name">{{ skill["skill"] }}</p>
            <div class="skill__bar" style="width: {{ skill['size'] }}%"></div>
        </div>
        {% endfor %}
    </div>
    <div class="icon github">
        <!-- <img src="{{ url_for('static', filename='icon/github.svg') }}" /> -->
        <i class="fa-brands fa-github"></i>
    </div>
    <div class="icon twitter">
        <!-- <img src="{{ url_for('static', filename='icon/twitter.svg') }}" /> -->
        <i class="fa-brands fa-twitter"></i>
    </div>
</div>
{% endblock %}